*{
    box-sizing: border-box;
}
body {
    background-color: rgb(31, 41, 55);
    align-items: center;
    min-width: 500px;
    min-height: 400px;
}
#intropage{
    margin-left: -300px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 0;
    border-bottom: 1px solid gray;
    
}
h1{
    color: white;
    font-weight: bolder;
    text-align: center;
    

}
h2{
    color: grey;
    text-align: center;
    background-color: transparent;
    margin-left: 260px;
    margin-top: -20px;
   
    
}
span{
    color: rgb(60, 167, 109);
    margin-right: -120px;
}
button {
    width: 200px;
    height: 30px;
    background-color: rgb(60, 167, 109);
    border: none;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: -250px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
.passwordpage{
    position: absolute;
    left: 0;
top: 50%;
text-align: center;
width: 100%;
margin-top: 0;
}

#password1{
   
    display: inline-block;
}
#password2{
   
    display: inline-block;
}
#password3{
    
    display: inline-block;
}
#password4{
   
    display: inline-block;
}

p {
    background-color:rgb(39, 53, 73) ;
    width: 300px;
  height: fit-content;
    margin: 10px;
    text-align: center;
   font-size: 20px;
    border-radius: 5px;
    color:rgb(60, 167, 109) ;
}

  @media screen and (max-height: 480px) {
    .passwordpage {
        position: static;
    }
    #btn-el{
      margin: auto;
      margin-top: 20px;
    }
    body{
        background-color: black;
        color: white;
    }
  }